/build
/dist

# dependencies
/node_modules
.package.swp
package-lock.json

.DS_Store
.AppleDouble
.LSOverride
.localized

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
